.commentable-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
}
.commentable-section:hover .side-comment .marker {
  display: block;
}
.side-comment {
  position: absolute;
  top: 0;
  right: 15px;
  width: 20px;
  min-height: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.side-comment .comments-estructure {
  max-height: 512px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}
.side-comment ul.comments li:first-child,
.side-comment .comment-form:first-child,
.side-comment .comment-form:last-child {
  border: none;
}
.side-comment * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.side-comment .hide {
  display: none;
}
.side-comment .marker {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 20px;
  height: 18px;
  background: #dededc;
  background: #4faf62;
  border-radius: 2px;
  text-decoration: none;
}
.side-comment .marker span {
  display: none;
  content: "+";
  position: absolute;
  width: 20px;
  height: 18px;
  line-height: 16px;
  line-height: 20px;
  font-size: 14px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
.side-comment .add-comment {
  display: none;
}
.side-comment .comments-wrapper {
  display: none;
  position: absolute;
  top: 0;
  top: -22px;
  left: 40px;
  left: 17px;
  width: 200px;
  width: 385px;
  padding-bottom: 120px;
  padding: 10px;
  border: 1px solid #a0a0a0;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  z-index: 2;
  color: #222222;
  background-color: #f1f1f1;
  -webkit-box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.51);
  box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.51);
  background-color: #fff;
}
.side-comment .comments-wrapper .comments-header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.side-comment .comments-wrapper .comments-header .titulo-comments {
  color: #9c9c9c;
  margin: 0;
  padding: 0;
}
.side-comment .comments-wrapper .comments-header .close-btn {
  cursor: pointer;
}
.side-comment .comments {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  width: 100%;
}
.side-comment .comments li {
  width: 100%;
  overflow: hidden;
}
.side-comment .comments .comment {
  border: none;
  width: 255px;
}
.side-comment .comment {
  margin: 0 0 10px 0;
  font-size: 13px;
  line-height: 16px;
  background-color: #fff;
}
.side-comment .comment-box {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  border: none;
  border: 1px solid #aaaaaa;
  padding: 0;
  padding: 10px;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  display: block;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.side-comment .actions {
  margin: 0;
  margin-top: 5px;
}
.side-comment .delete {
  margin-left: 42px;
}
.side-comment .add-comment.active {
  display: block;
}
.side-comment .comment-form {
  overflow: hidden;
  padding: 15px 0;
  z-index: 10;
}
.side-comment .comment-form.active {
  display: block;
}
.side-comment .comment-weight-container {
  display: inline-block;
}
.side-comment .marker:before {
  content: "+";
  position: absolute;
  width: 20px;
  height: 18px;
  line-height: 16px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.side-comment .marker:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 5px;
  width: 0;
  border-width: 7px 8px 0 0;
  border-style: solid;
  border-color: #dededc transparent;
  border-color: #4faf62 transparent;
}
.side-comment .marker:hover {
  background: #4faf62;
}
.side-comment ul.comments li {
  padding: 15px 0 0 0;
}
.side-comment .author-avatar {
  float: left;
  width: 25px;
  height: 25px;
  background-color: #fff;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden;
}
.side-comment .author-avatar img {
  width: 110%;
  height: 110%;
  margin-top: -5%;
  margin-left: -5%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg);
  /* Firefox 4+ */
  filter: gray;
  /* IE 6-9 */
  opacity: 0.5;
}
.side-comment .comentario-fill {
  float: left;
  width: 80%;
  margin-left: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.side-comment .right-of-avatar {
  float: left;
  width: 158px;
}
.side-comment .author-name {
  line-height: 16px;
  margin: 0 0 2px 0;
  font-weight: 700;
  text-decoration: none;
  color: #222222;
}
.side-comment .comment-time {
  font-size: 11px;
  color: #686868;
}
.side-comment a.author-name:hover {
  color: #444444;
}
.side-comment .action-link:hover {
  text-decoration: none;
}
.side-comment .action-link.post .post {
  color: #89c794;
}
.side-comment .action-link.post .post:hover {
  color: #468c54;
}
.side-comment.active .marker {
  display: block;
  display: none;
  background: #4faf62;
}
.side-comment.active .comments-wrapper {
  display: block;
  -webkit-animation: fadein 0.2s;
  animation: fadein 0.2s;
}
.side-comment.has-comments .marker,
.side-comment.has-comments ul.comments {
  display: block;
}
.side-comment.has-comments .add-comment {
  display: block;
}
.side-comment.has-comments .marker:before {
  content: "";
}
.side-comment.has-comments .marker span {
  display: block;
}
.side-comment.has-comments .add-comment.hide {
  display: none;
}
.side-comment.has-comments .comment-form {
  display: none;
}
.side-comment.has-comments .comment-form.active {
  display: block;
}
.side-comment.no-current-user .add-comment {
  display: block;
  margin-top: 20px;
}
.commentable-container {
  -webkit-transition: all 0.22s ease;
  transition: all 0.22s ease;
}
.commentable-container .commentable-section .side-comment .comment-weight-container span {
  display: inline;
}
.side-comments-open {
  -webkit-transform: translate(-220px, 0);
  -webkit-transform: none;
  -ms-transform: translate(-220px, 0);
  -ms-transform: none;
  transform: translate(-220px, 0);
  transform: none;
}
.side-comments-open .side-comment.has-comments .marker {
  display: none;
}
.side-comment .marker:hover:after,
.side-comment.active .marker:after {
  border-color: #4faf62 transparent;
}
p.commentable-section {
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
p.commentable-section.active {
  width: 63%;
  margin-top: 33px;
  padding: 20px;
  border-left: 10px solid #999999;
  color: #000000;
  background-color: #f1f1f1;
}
.logged-in p.commentable-section.active {
  margin-top: 65px;
}
.comments-wrapper ul.comments {
  padding: 0 15px;
}
.has-comments .marker {
  background: #2980b9;
}
.has-comments .marker:after {
  border-color: #2980b9 transparent;
}
.active .comments-wrapper:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
.commentable-section.active:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  content: "\F0D9";
  font-size: 50px;
  display: block;
  right: 15px;
  top: 50%;
  position: absolute;
  color: #999999;
}
