.commentable-container {
  -webkit-transition: all 0.22s ease;
  transition: all 0.22s ease;
}
.side-comments-open {
  -webkit-transform: translate(-220px, 0);
  -ms-transform: translate(-220px, 0);
  transform: translate(-220px, 0);
}
.commentable-section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
}
.side-comment {
  padding-bottom: 20px;
}
.side-comment .marker {
  width: 20px;
  height: 18px;
  background: #DEDEDC;
  border-radius: 2px;
  text-decoration: none;
}
.side-comment .marker:before,
.side-comment .marker span {
  content: "+";
  width: 20px;
  height: 18px;
  line-height: 16px;
  font-size: 14px;
  color: #FFF;
  text-align: center;
}
.side-comment .marker span {
  line-height: 20px;
  font-size: 12px;
}
.side-comment .marker:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 5px;
  width: 0;
  border-width: 7px 8px 0 0;
  border-style: solid;
  border-color: #DEDEDC transparent;
}
.side-comment .marker:hover,
.side-comment.active .marker {
  background: #4FAF62;
}
.side-comment .marker:hover:after,
.side-comment.active .marker:after {
  border-color: #4FAF62 transparent;
}
.side-comment .comments-wrapper {
  top: -22px;
  width: 200px;
  padding-bottom: 120px;
}
.side-comment.active .comments-wrapper {
  -webkit-animation: fadein 0.2s;
  animation: fadein 0.2s;
}
.side-comment.has-comments .comments-wrapper {
  top: -22px;
}
.side-comment ul.comments li,
.side-comment .comment-form {
  border: 1px solid #F2F2F0;
  border-left: 0;
  border-right: 0;
  padding: 15px 0;
  margin-top: -1px;
}
.side-comment .comment,
.side-comment .comment-box {
  font-size: 14px;
  line-height: 18px;
}
.side-comment .author-avatar {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.side-comment .author-avatar img {
  width: 100%;
  height: 100%;
}
.side-comment .right-of-avatar {
  float: left;
  width: 158px;
}
.side-comment .author-name {
  font-size: 15px;
  line-height: 16px;
  margin: 0 0 2px 0;
  font-weight: 700;
  text-decoration: none;
  color: #222;
}
.side-comment a.author-name:hover {
  color: #444;
}
.side-comment .action-link {
  color: #B3B3B1;
  font-size: 13px;
  text-decoration: none;
}
.side-comment .action-link:hover {
  text-decoration: none;
}
.side-comment .action-link.post .post {
  color: #89C794;
}
.side-comment .action-link.post .post:hover {
  color: #468c54;
}
.side-comment .action-link.cancel:hover,
.side-comment .action-link.delete:hover {
  color: #57AD68;
}
.side-comment .add-comment {
  color: #B3B3B1;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  padding: 0px 8px;
  letter-spacing: 0.05em;
  text-decoration: none;
  margin-top: 10px;
}
.side-comment .add-comment:before {
  content: "+";
  border: 2px solid #DEDEDC;
  border-radius: 100px;
  width: 23px;
  height: 23px;
  color: #DEDEDC;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  float: left;
  margin-right: 15px;
  letter-spacing: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.side-comment .add-comment:hover {
  text-decoration: none;
}
.side-comment .add-comment:hover {
  color: #4FAF62;
}
.side-comment .add-comment:hover:before {
  border-color: #4FAF62;
  color: #4FAF62;
}
.side-comment .comment-box {
  outline: none;
  border: none;
  padding: 0;
}
.side-comment .actions {
  margin-top: 5px;
}
.side-comment .actions a {
  float: left;
}
.side-comment .actions .cancel:before {
  content: '\00B7';
  color: #B3B3B1;
  padding: 0 5px;
}
@media (max-width: 768px) {
  .side-comments-open {
    -webkit-transform: translate(-220px, 0);
    -ms-transform: translate(-220px, 0);
    transform: translate(-220px, 0);
  }
  .side-comment .comments-wrapper {
    width: 200px;
  }
  .side-comment .right-of-avatar {
    width: 158px;
  }
  .side-comment .marker {
    display: block;
  }
}
/***************************************
***** .side-comments-open  *************
***************************************/
.side-comments-open {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
/***************************************
***** .commentable-section  ************
***************************************/
p.commentable-section {
    width: 100%;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

p.commentable-section.active {
    width: 63%;
    margin-top: 33px;
    padding: 20px;
    border-left: 10px solid #999;
    color: #000;
}
.logged-in p.commentable-section.active {
    margin-top: 65px;
}
/***************************************
***** .comments-wrapper  ***************
***************************************/
.side-comment.has-comments .comments-wrapper, .side-comment .comments-wrapper {
    padding: 15px 0 0 0;
    border: 1px solid #a0a0a0;
    width: 385px;
    left: 17px;
    z-index: 2;
    color: #222;
}
.side-comment .comments-wrapper .comments li p {
    
}
/***************************************
***** ul.comments  *********************
***************************************/
.comments-wrapper ul.comments {
    padding: 0 15px;
}

ul.comments {
    max-height: 520px;
    overflow: auto;
}
/***************************************
***** .marker **************************
***************************************/
.side-comment.active .marker {
    display: none;
}

.side-comment .marker {
    background: #4FAF62;
}

.side-comment .marker:after {
    border-color: #4FAF62 transparent;
}

.has-comments .marker {
    background: #2980b9;
}

.has-comments .marker:after {
    border-color: #2980b9 transparent;
}

.side-comments-open .side-comment.has-comments .marker {
    display: none;
}
/***************************************
***** .comment-form ********************
***************************************/
.side-comment .comment-form {
    z-index: 10;
}
/***************************************
***** Mixed Attributes with like styles 
***************************************/
p.commentable-section.active, .side-comment .comments-wrapper {
    background-color: #f1f1f1;
}
.side-comment ul.comments li, .side-comment .comment-form {
    border-color: #888;
    border-style: dashed;
}

.side-comment ul.comments li:first-child, .side-comment .comment-form:first-child, .side-comment .comment-form:last-child {
    border: none;
}

.side-comment .comment-box, .side-comment .comments .comment {
    border: none;
    width: 255px;
}
.active .comments-wrapper:before, .commentable-section.active:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;    
}
/***************************************
***** .comment-box ********************
***************************************/
.side-comment .comment-box {
    z-index: 10;
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #fff;
    display: block;
    min-height: 40px;
}

.side-comment .author-avatar {
    margin-left: 10px;
}

.side-comment a.post {
    color: #4FAF62;
    font-weight: bold;
}

.side-comment a.post:before {
    content: "+";
    border: 2px solid #4FAF62;
    border-radius: 100px;
    width: 23px;
    height: 23px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    float: left;
    margin-right: 5px;
    letter-spacing: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4FAF62;
}

.side-comment .add-comment {
    border: none;
    padding: 14px;
    background-color: #999;
    color: #fff;
}

.side-comment .add-comment:before {
    line-height: 20px;
}

.side-comment .add-comment:hover, .side-comment .add-comment:hover:before {
    color: #f1f1f1;
}

.commentable-section.active:after {
    content: "\F0D9";
    font-size: 50px;
    display: block;
    right: 0;
    top: 50%;
    position: absolute;
    color: #999;
}

@media (max-width: 1200px) {
    p.commentable-section.active {
        width: 65%;
    }
}
@media (max-width: 979px) {
    p.commentable-section.active {
        width: 60%;
    }   
}
@media (max-width: 836px) {
    p.commentable-section.active {
        width: 55%;
    }   
}
@media (max-width: 767px) {
    p.commentable-section.active, .side-comment {
        width: 100%;
        border: none;
        padding: 0;
    }
    p.commentable-section.active {
        padding: 10px;

    }
    p.commentable-section {
        margin-bottom: 35px;
        padding: 0;
    }
    .side-comment .marker:after {
        top: auto;
        bottom: 18px;
        left: 5px;
        border-width: 0 9px 7px 0;
    }
    .commentable-section.active:after {
        content: "";
    }
    .side-comment {
        position: relative;
    }
    .side-comment ul.comments {
        max-height: inherit;
        height: auto;
    }
    .side-comment.has-comments .comments-wrapper, .side-comment .comments-wrapper {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        float: none;
        width: auto;
        overflow: visible;
        margin: 20px 0 0;
    }
    .active .comments-wrapper:before {
        content: "\F0D8";
        font-size: 50px;
        display: block;
        right: 50%;
        top: -21px;
        position: absolute;
        color: #999;  
    }
}